.messages-wrapper {
  border: 1px solid #3a3a3a;
  border-radius: 2px;
  padding: 20px;

  height: 80vh;
  overflow: auto;
}
.message {
  padding: 10px;
  border-bottom: 2px solid #3a3a3a;
}
.message .message-nickname {
  font-weight: bold;
  font-size: 1.1rem;
}
.message .message-text {
  color: #4b4b4b;
  font-size: 1rem;
}
.send-messages-wrapper {
  height: 15vh;
  padding: 20px;
  border: 2px solid #3a3a3a;
  border-radius: 5px;

  margin-top: 20px;
}
.send-messages-input {
  width: 80%;
  border-bottom: 2px solid #3a3a3a;
  border-radius: 5px;
  resize: none;
}
